#about {
    .about-photo {
        max-width: 40vw;
    }
    .contact-info {
        display: inline-block;
        margin: 1rem;
    }
    .flex-about {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}